Debug64/
_generatedfiles/
generatedfiles/
Debug*/
NLE Debug/
Release64
Release*/
NLE Release/
ipch/
.sonar/
build_logs/
src.Sonar/
*.qm
*.user
*.bak
*.tlb
*.idl
*.exe
*.dll
*.obj
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*_i.c
*_p.c
*.tlog
*.log
*.orig
*.sdf
*.suo
*.aps
dlldata.c
*.opensdf
*.sdf
*.suo
*.VC.db
.vs/
*.opendb
packages/
*.ts
.cov/
*.tlh
*.tli
lib/
data-coverity/
/_patch
